
.container{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22272B;
    padding: 0 12px;
    border-radius: 8px;
    cursor: pointer;
}

.trash{
    display: none;
}

.container:hover{
    outline: 1px solid white;
}

.container:hover .trash{
    display: block;
}