.list_container{
    max-height: 250px;
    min-height: 322px;
    width: 270px;
    margin-top: 10px;
    margin-right: 10px;
    user-select: none;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding: 10px;
    background-color: #101204;
    color: rgb(182, 194, 207);
    border-radius: 12px;
}

.header{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header form {
    width: 85%;
    height: 32px;
}

.header form input{
    margin-top: 1px;
    width: 100%;
    height: 32px;
    padding-left: 10px;
    padding-bottom: 2px;
    border: none;
    border-radius: 6px;
    background-color: #282E33;
    outline: 2px solid rgb(43, 142, 255);
    color: rgb(182, 194, 207);
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-family: "Segoe UI", Arial, sans-serif;
}

.header > p{
    padding-left: 10px;
    cursor: pointer;
    line-height: 20px;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.settings{
    width: 32px;
    height: 32px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: ease-in-out all 0.15s;
}

.settings:hover{
    transition: ease-in-out all 0.15s;
    background-color: #282F27;
}

.tasks{
    margin-top: 5px;
    display: grid;
    gap: 6px;
    width: 100%;
    max-height: 146px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #323b37 #1c2015;
    padding-bottom: 5px;
}

.tasks::-webkit-scrollbar {
    width: 8px;
}

.tasks::-webkit-scrollbar-track {
    background: #1c2015;
}

.tasks::-webkit-scrollbar-thumb {
    background-color: #323b37;
}

.button{
    width: 250px;
    height: 32px;
    bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: rgb(182, 194, 207);
    display: flex;
    align-items: center;
    line-height: 20px;
    background-color: transparent;
}

.button:hover{
    background-color: #22272B;
}

.bottom_form{   
    margin-top: 10px;
    width: 100%;
}


/* toggle settings menu */
.settings_menu{
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: rgb(40, 46, 51);
    border: 1px solid rgb(77, 88, 97);
    border-radius: 10px;
    z-index: 1;
    top: 0px;
    right: -65%;
    display: flex;
    flex-direction: column;
}

.settings_header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 10px;
}

.settings_header h4{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(159, 173, 188);
    margin-bottom: .125rem;
}

.settings_close_div{
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    place-items: center;
    position: absolute;
    right: 10px;
    border-radius: 5px;
}

.settings_close_div:hover{
    background-color: rgb(61, 71, 79);
}

.settings_icon{
    width: .875rem;
    height: .875rem;
    font-size: .875rem;  
}

.settings_buttons{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 0;
}

.settings_buttons button{
    width: 100%;
    height: 25px;
    text-align: left;
    padding:5px 10px;
    background-color: transparent;
    color: rgb(159, 173, 188);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
}

.settings_buttons button:hover{
    background-color: rgb(61, 71, 79);
}