
.search_div{
    width: 560px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.search_icon{
    position: absolute;
    left: 8px;
    font-size: 20px;
    font-weight: bold;
}

.search{
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 5px;
    padding-left: 30px;
    font-size: 14px;
    
}

.search::placeholder{
    color: rgb(207, 207, 207);
    font-size: 14px;
}
