
.fontFamily{
    font-family: "Segoe UI", Arial, sans-serif;
}

.collapse_button{
    width: 20px;
    height: 20px;
    color: rgb(0, 0, 0);
    margin-left: auto;
    display: grid;
    place-items: center;
    border-radius: 4px;
    transition: ease-in-out all 0.15s;
    right: 0px;
    position: absolute;
    top: 23px;
    z-index: 12323233;
}

.collapse_button:hover{
    background-color: #474b5a;
}

.collapse_button .no_collapsed_icon,
.collapse_button .collapsed_icon{
    width: 14px;
    height: 14px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(236, 236, 236);
}

.delete_button{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 8px;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: none;
    z-index: 100;
}

.header_left{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_icon_container{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.add_icon_container:hover{
    background-color: #6c6d70b3;
}

.header_icon{
    margin-right: 5px;
    margin-top: 2px;
    font-size: 16px;
}