
.fontFamily{
    font-family: "Segoe UI", Arial, sans-serif;
}

.collapse_button{
    width: 32px;    
    height: 32px;
    display: grid;
    place-items: center;
    border-radius: 4px;
    transition: ease-in-out all 0.15s;
    right: -14px;
    position: absolute;
    top: 16px;
    z-index: 12312323233;
}

.collapse_button:hover{
    background-color: #5c5e68;
}

.collapse_button .no_collapsed_icon,
.collapse_button .collapsed_icon{
    width: 20px;
    height: 20px;
    color: rgb(236, 236, 236);
}

.delete_button{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 8px;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: none;
    z-index: 100;
}

.header_left{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_icon_container{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.add_icon_container:hover{
    background-color: #6c6d70b3;
}

.header_icon{
    margin-right: 5px;
    margin-top: 2px;
    font-size: 16px;
}

/* toggle settings menu */
.settings_menu{
    width: 200px;
    height: 100px;
    background-color: rgb(40, 46, 51);
    border: 1px solid rgb(77, 88, 97);
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.settings_header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 10px;
}

.settings_header h4{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(159, 173, 188);
    margin-bottom: .125rem;
}

.settings_close_div{
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    place-items: center;
    position: absolute;
    right: 10px;
    border-radius: 5px;
}

.settings_close_div:hover{
    background-color: rgb(61, 71, 79);
}

.settings_icon{
    width: .875rem;
    height: .875rem;
    font-size: .875rem;  
}

.settings_buttons{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 0;
}

.settings_buttons button{
    width: 100%;
    height: 25px;
    text-align: left;
    padding:5px 10px;
    background-color: transparent;
    color: rgb(159, 173, 188);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
}

.settings_buttons button:hover{
    background-color: rgb(61, 71, 79);
}

aside{
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

aside > div{
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}


.sidebar_container{
    max-width: 250px;
    display: flex;
    height: 100%;
    max-height: 100%;
    position: relative;
}

.sidebar_footer{
    margin-top: auto;
    width: 100%;
    min-height: 70px;
    border-top: 1px solid rgb(77, 88, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.footer_title{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_link{
    margin-left: 4px;
    margin-bottom: 2px;
    text-decoration: none;
    color: rgb(202, 207, 214);
    font-size: 16px;
}

.footer_icons{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer_icons a{
    text-decoration: none;
    color: rgb(159, 173, 188);
    font-size: 16px;
}

.sidebar_middle{
    display: 'flex';
    flex-direction: column;
    max-height: 100%;
    height: 100%;
}

.menu{
    max-height: 100%;
    height: calc(100% - 220px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #323b37 #1c2015;
}

.menu::-webkit-scrollbar {
    width: 8px;
}

.menu::-webkit-scrollbar-track {
    background: #1c2015;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #323b37;
}